{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-Waste Management{% endblock %}</title>
    <!-- Google Fonts -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap" rel="stylesheet">



    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- Include Header -->
    <div id="embedded-header">
        {% include 'operator/operator-header.html' %}
    </div>

    <!-- Include Navbar -->
    <div id="embedded-navbar">
        {% include 'operator/operator-navbar.html' %}
    </div>

     <!-- Flex Container -->
    <div class="flex-container">
        <!-- Main Content Block -->
        <main>
            {% block content %}{% endblock %}
        </main>

    </div>
    <!-- Include Footer -->
    {% include 'footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
