* {
    box-sizing: border-box;
}

.container {
    background-color: rgba(245, 248, 238, 0.85);
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    margin-top: 110px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    max-height: 600px;
}

body {
    text-align: center;
    margin: 0;
    background-color: #F5F8EE;
    background-image: url("../images/greenleaf.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    background-color: #f8f8ff;
    display: block;
    padding: 1rem;
    max-width: 400px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

.form-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #f8f8ff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    width: 300px;
    cursor: pointer;
}

.submit:hover {
    background-color: #3b39cc;
}

#logo:hover {
    cursor: pointer;
}

#embedded-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#login {
    text-decoration: none;
    color: #4F46E5;
    font-weight: bold;
}

/* -----------------Popups (Email Sent Successfully)---------- */
.resetEmail-popup-container {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* ------------------Popup Box ----------------------------*/
.resetEmail-popup-content {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.resetEmail-popup-content h2 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
}

.resetEmail-popup-text {
    font-weight: lighter;
    font-size: 18px;
}

.resetEmail-logo {
    width: 200px;
    height: 200px;
}

/* ------------------Close button ----------------------------*/

.resetEmail-popup-close {
    position: absolute;
    top: 6px;
    right: 16px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
}

/* ------------------------Input Field-------------------------- */
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    max-width: 310px;
    position: relative;
    margin: 0 auto;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #53748b;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.inputGroup label {
    font-size: 16px;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #f8f8ff;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}