{% extends 'driver/base_driver.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Edit User Profile{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/editpassword-driver.css' %}">
    {% endblock %}
 
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700&display=swap" rel="stylesheet">

</head>

{% block content %}

<body>
    <div class="container">
        <div class="container-top">
            {% if profile.profile_picture %}
                <img id="user" src="{{ profile.profile_picture.url }}" width="200" height="200" alt="user profile logo">
            {% else %}
                <img id="user" src="{% static 'images/userprofilelogonobg.png' %}" width="200" height="200" alt="user profile logo">
            {% endif %}
            <h1>Change Your Password</h1>
        </div>

        <div class="container-bottom">
            <form method="post" action="{% url 'driver:edit_password' %}" id="editPasswordForm">
                {% csrf_token %}
                <input type="password" id="currentPassword" class="input" name="currentPassword" placeholder="Current Password" required>
                    <!-- Button to Show Password -->
                <input type="password" id="newPassword" class="input" name="newPassword" placeholder="New Password" required>
                <input type="password" id="confirmPassword" name="confirmPassword" class="input" placeholder="Re-Enter New Password" required>

            </form>
        </div>
    </div>

    {% comment %} REPEATED {% endcomment %}
    <!-- Buttons -->
    <div class="driver-editPass-btn-container">
        <div class="driver-editPass-SaveBtn">
            <button onclick="driver_editPass_ConfirmationPopup()" id="savechanges">Save Changes</button>
        </div>
    </div>

    <!-- Confirmation Popup -->
    <div id="driver-editPass-confirmation-popup" class="driver-editPass-popup-container" style="display: none;">
        <div class="driver-editPass-popup-content">
            <h2><i>Confirmation</i></h2>
            <p>Are you sure you want to save your changes?</p>
            <button class="btn cancel" onclick="driver_editPass_close_ConfirmationPopup()">Cancel</button>
            {% comment %} <button class="btn proceed" onclick="customer_editPass_show_SucessfulPopup()">Proceed</button> {% endcomment %}
            <button class="btn proceed" onclick="driver_editPass_submitForm()">Proceed</button>
        </div>
    </div>

    <!---------- Changes Saved Successfully Popup ------------>
    <div id="driver-editPass-sucessful-popup" class="driver-editPass-popup-container" style="display: none;">
        <div class="driver-editPass-popup-content">
            <img src="{% static 'images/Picture1.png'%}" alt="JAS Logo" class="popup-logo">
            <h2>Congratulation!</h2>
            <p class="driver-editPass-text">Your password has been reset successfully!</p>
            <a href="{% url 'driver:user_profile'%}">
              <button>Back</button>
            </a>
        </div>
    </div>


    {% if Invalid %}
        <script>
            var errorMessage = "{{ error_message|escapejs }}";
            alert(errorMessage);
        </script>
    {% endif %}
</body>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/editpassword-driver.js'%}"></script>
    <script>
        function togglePassword(show, inputId) {
            var passwordField = document.getElementById(inputId);
            passwordField.type = show ? "text" : "password";
        }

        document.addEventListener("DOMContentLoaded", function() {
            var updateSuccess = "{{ update_success|default:'False' }}";
            if (updateSuccess === "True") {
                driver_editPass_show_SucessfulPopup();
            }
        });
    </script>
{% endblock %}