{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'e_waste/css/resetpassword.css' %}">
    {% endblock %}
</head>
{% block content %}
    <body>
        <div class="container">
            <img src="{% static 'e_waste/images/companylogonobg.png' %}" id="logo" width="400" height="150" alt="company logo">
            <div class="reset-password">
                <form class="form" method="post" action="{% url 'resetPassword' %}"> {% csrf_token %}
                    <p class="form-title">Reset your password</p>

                    <div class="inputGroup">
                        <input type="email" name="email" required autocomplete="off">
                        <label for="name">Email</label>
                    </div>
                    <br>

                    <button class="submit" type="submit">Send reset link</button>

                    <p class="login-link">
                        Log in instead?
                        <a id="login" href="{% url 'login' %}">Click here to log in!</a>
                    </p>
                </form>
            </div>
        </div>

        <!-- Email Sent Sucessfully Popup -->
        <div id="reset-password-popup" class="resetEmail-popup-container" style="display: none;">
            <div class="resetEmail-popup-content">

                <!-- Close Button -->
                <button class="resetEmail-popup-close" onclick="closeResetPasswordPopup()">×</button>

                <img class="resetEmail-logo" src="{% static 'e_waste/images/send-message-removebg-preview.png' %}">

                <h2><i>Reset Password Email Sent!</i></h2>

                <p class="resetEmail-popup-text">An email has been sent to your inbox. Kindly check it and use the provided password to login again.</p>
            
            </div>
        </div>

        <div id="embedded-footer">
            {% include 'footer.html' %}
        </div>

        {% block extra_js %}
            {% if Permission is not None %}
                {% if Permission %}
                    <script>document.getElementById("reset-password-popup").style.display = "flex";</script>
                    <script src="{% static 'e_waste/js/resetpassword.js' %}"></script>
                {% elif not Permission %}
                    <script>alert("You don't have the access to reset the password, please contact administrator")</script>
                {% endif %}
            {% endif %}
        {% endblock %}

    </body>
{% endblock %}